h1 {
    font-family: 'Permanent Marker', monospace;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
body {
    background-image: linear-gradient(90deg ,lightsalmon, #7ad9ff);
}
.imgWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: auto;
    width: 30%;
    height: auto;
}
select {
    display: flex;
    background-color: white;
    font-family: 'Permanent Marker';
    width: 100px;
    font-size: large;
}
img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    width: 30%;
    height: auto;
}
button {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;;
    font-family: 'Permanent Marker', monospace;
    width: 100%;
    height: auto;
    background-color:#ffbb7a;
    font-size: 18px;
}

#categoryInput {
    align-self: center;
    margin: 20px;
    width: 30%;
    height: 30px;
}
.buttonWrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}
p {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Permanent Marker', monospace;
    padding: 0px 15px 0px 15px;
}
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.modal-overlay.open {
    display: flex;
}
.modal-content {
    margin: auto;
    border-radius: 4px;
    padding: 16px;
    width: 640px;
    height: auto;
    background-color: white;
    position: relative;
    z-index: 10000;
}
.modal-content .close-modal {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding-top: 3px;;
    width: 28px;
    height: 28px;
    font-family: 'Permanent Marker';
    position: absolute;
    top: 16px;
    right: 24px;
    border-radius: 50%;
    z-index: 109000;
}